[pull]
  ff = only
[alias]
  adog = log --all --decorate --oneline --graph
  c = commit
  ca = commit --amend
  s = status --short
  st = status
  d = diff
  ds = diff --staged
  a = add
  l = log
[user]
  name = Randall Warners
