[submodule "vim/.vim/pack/plugins/start/vimwiki"]
	path = vim/.vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/.vim/pack/plugins/start/fzf"]
	path = vim/.vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/.vim/pack/plugins/start/fzf.vim"]
	path = vim/.vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/plugins/start/vim-css-color"]
	path = vim/.vim/pack/plugins/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
